@model InventoryManagement.Models.OrderLine

<tr>
    <td>
        @Html.DisplayFor(model => model.Product.ProductDescription)
    </td>
    <td>
        @Html.DisplayFor(model => model.QTY)
    </td>
</tr>
