@model InventoryManagement.Models.Order

@{
    ViewData["Title"] = "Edit Order";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderID" />
            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOrdered" class="control-label"></label>
                <input asp-for="DateOrdered" class="form-control" />
                <span asp-validation-for="DateOrdered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAddress" class="control-label"></label>
                <input asp-for="CustomerAddress" class="form-control" />
                <span asp-validation-for="CustomerAddress" class="text-danger"></span>
            </div>
            <fieldset>
                <legend>
                    Products
                </legend>
                @if (Model.OrderLines == null || Model.OrderLines.Count == 0)
                {
                    <p>None</p>
                }
                else
                {
                    <div class="form-horizontal row" id="orderLines">
                        @foreach (OrderLine line in Model.OrderLines)
                        {
                            await Html.RenderPartialAsync("OrderLine", line);
                        }
                    </div>
                    <a id="addRow" href="#">Add another product</a>
                }
            </fieldset>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
